@import url('https://fonts.googleapis.com/css?family=Audiowide');

* {
  margin: 0;
  padding: 0;
}

body {
  background: url("https://img3.goodfon.ru/original/1920x1080/d/ec/kosmos-art-chernaya-bezdna.jpg");
  background-attachment: fixed;
}

#drum-machine {
  margin-top: 50px;
}

#title {
  font-family: 'Audiowide', cursive;
  color: white;
  margin-bottom: 60px
}

#display {
  font-family: 'Audiowide', cursive;
  font-size: 2em;
  color: aqua;
  background-color: rgb(92, 88, 83);
  border: 5px solid #ff9100;
  border-radius: 10px;
  width: 400px;
  position: absolute;
  left: 50%;
  margin-left: -200px; 
  
}
#drum-pads-wrap {
  height: 400px;
  width: 400px;
  background-color: rgb(92, 88, 83);
  border: 5px solid #ff9100;
  border-radius: 10px;
  position: absolute;
  left: 50%;
  margin-left: -200px; 
  margin-top: 60px;
}

#drum-pads {
  padding-top: 40px;
  font-family: 'Audiowide', cursive;
  height: 50%;
  width: 50%;
  display: grid;
  grid-template-columns: 100px 100px 100px;
  grid-template-rows: 100px 100px 100px;
  justify-content: center;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
}

.drum-pad {
  border: 3px solid orange;
  border-radius: 50%;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #84eeff;
  cursor: pointer;
}

.drum-pad:hover {
  background: white;
  color: orange;
}